/* Main Styling */
html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  image-rendering: pixelated;
  font-family: 'Press Start 2P', system-ui;
}

/* Canvas Styling */
#main-canvas {
  width: 100%;
  background-image: url("sprites/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}